@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input {
  height: 42px !important;
  background-color: white !important;
  border-radius: 8px !important;
  border: 1px solid #d1d1d1 !important;
  padding: 4px 8px !important;
  width: 100% !important;
  font-size: 14px !important;
  color: #333 !important;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.2s ease-in-out !important;
  box-sizing: border-box !important;
}

select {
  height: 42px !important;
  background-color: white !important;
  border-radius: 8px !important;
  border: 1px solid #d1d1d1 !important;
  padding: 4px 8px !important;
  width: 100% !important;
  font-size: 14px !important;
  color: #333 !important;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.2s ease-in-out !important;
  box-sizing: border-box !important;
}


input:focus {
  border-color: #70a7e2 !important;
  border: 1px solid #70a7e2 !important;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(126, 177, 231, 0.25) !important;
}

select:focus {
  border-color: #70a7e2 !important;
  border: 1px solid #70a7e2 !important;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(126, 177, 231, 0.25) !important;
}

.error-space {
  height: 18px;
}

.error {
  color: red;
  font-size: 12px !important;
  margin-top: 3px;
  text-align: left;
}

.Background {
  background-image: url("./assets/images/login-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: contain;
}

.search-input {
  height: 35px !important;
  padding-left: 30px !important;
}

.spinner {
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sr-only {
    position: static !important;
    width: auto !important;
    height: auto !important;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.recharts-pie-label-line {
  display: none !important;
}

.recharts-pie-label-text {
  display: none !important;
}